/* Bizbo Colors */
$blue-light: #7fbdfe;
$blue: #007dfe;
$green: #1cba63;
$orange: #ff9600;
$red: #df131b;
$white: #ffffff;
$off-white: #f8f8f8;
$gray-light: #ececec;
$gray: #969696;
$black: #121317;
