@import "colors";
/* Bizbo Color Names */
$primary: $blue;
$secondary: $blue-light;
$info: $blue;
$success: $green;
$warning: $orange;
$error: $red;
$border: $gray-light;
$disabled: $gray;
$layout-light: $white;
$layout-medium: $off-white;
$layout-dark: $black;
